<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zaijiadd.app.user.dao.UserStoreDAO">

	<select id="isUserStoreExist" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		user_store
		WHERE
		user_id = #{userId}
	</select>
	<insert id="insertUserStore" parameterType="java.util.Map">
		INSERT INTO
		user_store (user_id, store_id, create_date )
		VALUES ( #{userId},
		#{storeId}, now() )
	</insert>
	<update id="updateUserStore" parameterType="java.util.Map">
		update user_store set
		store_id = #{storeId} where user_id = #{userId}
	</update>

</mapper>